[submodule "catch2"]
	path = catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "strasser"]
	path = strasser
	url = https://github.com/nromashchenko/strasser.git
[submodule "indicators"]
	path = indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "i2l"]
	path = i2l
	url = https://github.com/phylo42/i2l
