[submodule "skarupke"]
	path = skarupke
	url = https://github.com/nromashchenko/skarupke.git
[submodule "catch2"]
	path = catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "robin-map"]
	path = robin-map
	url = https://github.com/Tessil/robin-map.git
[submodule "hopscotch-map"]
	path = hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "strasser"]
	path = strasser
	url = https://github.com/nromashchenko/strasser.git
[submodule "indicators"]
	path = indicators
	url = https://github.com/p-ranav/indicators.git
